name: CMake

on: [push]

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
    - name: Checkout project and submodules
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Install Google Test
      run: sudo apt install libgtest-dev

    - name: Install ALSA
      run: sudo apt-get install libasound2-dev

    - name: Install libpng
      run: sudo apt-get install libpng-dev

    - name: Install SNDFile
      run: |
        sudo apt-get install libsndfile1
        sudo apt-get install libsndfile1-dev

    - name: Install GPS
      run: |
        sudo apt-get install gpsd gpsd-clients libgps-dev

    - name: Install Curl
      run: |
        sudo apt-get install libcurl4-openssl-dev
    
    - name: Generate
      run: cmake -B build -S . -D CMAKE_CXX_FLAGS="-fprofile-arcs -ftest-coverage"

    - name: Build
      run: cmake --build build
